// Contents of dist is generated.
/dist/*
!/dist/manifest.json
!/dist/**/*.png
!/dist/**/*.svg

*.zip
debug.log
.editorconfig
node_modules
.vscode
.idea/
*.production.js
*.development.js

!example.*.js
